* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Gill Sans, sans-serif;
  background-color: whitesmoke;
}

li {
  list-style: none;
}

/*head bar*/

header {
  background-color: lightgray;
  height: 15vh;
  width: 100%;
  position: relative;
  border-bottom: solid 5px lightslategrey;
}

.navBar {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.title {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.title h2 {
  font-size: 45px;
  margin-top: 7px;
  font-family: fantasy;
}
.website-logo {
  margin-left: 5px;
  width: 5vw;
  height: 7vh;
}

/* search area*/

.searchBar {
  display: flex;
  justify-content: space-between;
}
#searchTerm {
  text-align: center;
  border-radius: 5px;
  height: 5vh;
  border: solid 2px darkgray;
}

#searchBtn {
  background-color: lightslategray;
  border-radius: 5px;
  margin: 0 7px;
  width: 5vw;
  height: 5vh;
  border: darkgray 2px groove;
}

/*my movie button*/

.movie-history {
  margin: 0 15px 12px 0;
  width: 12vw;
  font-size: 15px;
  cursor: pointer;
  border-radius: 30px;
  background-color: whitesmoke;
  padding: 0 15px;
  border: 2px groove darkgray;
}

.movie-history:hover {
  background-color: lightslategray;
}

/* API */
.movie-title {
  margin: 10px 50px;
  font-size: 30px;
  width: 100%;
}
.movie-info {
  margin: 0 50px;
  display: flex;
  flex-direction: row;
}

.movie-year {
  padding: 10px 0;
}

.movie-ID {
  padding: 10px 0 0 20px;
}

.poster-wiki {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 98%;
}
.poster {
  padding: 10px 20px 0 50px;
}

/*wiki*/

.wiki {
  background-color: darkgray;
  margin: 10px 30px 0 30px;
  padding: 0 10px;
}

p {
  padding: 2px 0;
}

/* my movies history files*/

.row-history {
  margin: 10px;
  padding: 20px;
  background-color: darkgray;
}

.row-history img {
  margin: 10px;
  padding: 10px;
  border: groove 2px lightslategray;
}

/*
footer {
  background-color: lightgray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgb(129, 143, 184);
  height: 10vh;
  padding: 25px 20px;
}*/
